:host {
  display: block;
  height: 100%;
  --selection-topbar-height: 48px;
}

.selection-topbar--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}

sat-platform-nav-container.has-selection-topbar {
  padding-top: var(--selection-topbar-height);
  height: calc(100% - var(--selection-topbar-height));
}

.shell-content {
  height: calc(100% - var(--selection-topbar-height));
}

.nav-drawer-sidenav {
  width: 280px;
  border-right: none;
  box-shadow: 2px 0 8px rgb(0 0 0 / 8%);
}

