<section class="authorized-applications-page">
  <div class="authorized-applications-page__card">
    @if (loading()) {
      <div class="authorized-applications-page__state">
        {{ 'app.authorized-applications-page.loading-authorized-applications' | translate }}
      </div>
    } @else {
      @if (error(); as errorMessage) {
        <div class="authorized-applications-page__state authorized-applications-page__state--error">
          {{ errorMessage }}
        </div>
      } @else {
        <div class="authorized-applications-table-wrapper">
          <table class="authorized-applications-table">
            <thead>
              <tr>
                <th>{{ 'app.authorized-applications-page.name' | translate }}</th>
                <th>{{ 'app.authorized-applications-page.authorization-date' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @if (applications().length === 0) {
                <tr>
                  <td colspan="2" class="authorized-applications-table__empty">
                    <div class="authorized-applications-table__empty-content">
                      {{
                        'app.authorized-applications-page.you-have-not-granted-any-application'
                          | translate
                      }}
                    </div>
                  </td>
                </tr>
              } @else {
                @for (
                  application of applications();
                  track application.name + application.authorizationDate
                ) {
                  <tr>
                    <td>{{ application.name }}</td>
                    <td>{{ application.authorizationDate }}</td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      }
    }
  </div>
</section>
